* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
:root {
    /* Light Theme Colors */
    --primary-color-light: #673AB7;
    --primary-bg-color-light: #ffffff;
    --primary-text-color-light: #141c3a;
    --border-color-light: #eee;
    --shadow-color-light: rgb(224 224 224);
    --hero-social-bg-light: #eee;

    /* Dark Theme Colors */
    --primary-color-dark: #673AB7;
    --primary-bg-color-dark: #141c3a;
    --primary-text-color-dark: #ffffff;
    --border-color-dark: #272727;
    --shadow-color-dark: rgb(41 9 111);
    --hero-social-bg-dark: #3b095d;

    /* Colors list */
    --primary: #673AB7;
    --white: #ffffff;
    --dark: #141c3a;


    --transition-speed: 0.7s;
}
body {
    transition: background-color var(--transition-speed), color var(--transition-speed);
    margin: 0;
    padding: 0;
}

/* Light Theme Styles */
body.light-mode {
    background-color:var(--primary-bg-color-light);
    color:var(--primary-text-color-light);
    --primary-bg-color:var(--primary-bg-color-light);
    --primary-text-color:var(--primary-text-color-light);
    --border-color:var(--border-color-light);
    --shadow-color:var(--shadow-color-light);
    --hero-social-bg-color:var(--hero-social-bg-light);
}

/* Dark Theme Styles */
body.dark-mode {
    background-color:var(--primary-bg-color-dark);
    color:var(--primary-text-color-dark);
    --primary-bg-color:var(--primary-bg-color-dark);
    --primary-text-color:var(--primary-text-color-dark);
    --border-color:var(--border-color-dark);
    --shadow-color:var(--shadow-color-dark);
    --hero-social-bg-color:var(--hero-social-bg-dark);
}


img {
    width: 100%;
}
.navbar {
    font-size: 1.05rem;
    line-height: 50px;
    background-color: var(--primary-bg-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
    
}
.brand-logo-container {
    max-width: 50px;
}
.navbar .navbar-menu .navbar-end .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-nav > .nav-item > .nav-link {
    color: var(--primary-text-color);
    padding: 8px 14px;
    transition: color ease-in 0.2s;
    font-weight: 500;
}
.navbar-nav > .nav-item > .nav-link:hover {
    color: #673AB7;
}
button.toggle-theme {
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
button.toggle-theme:hover {
    color: var(--primary-text-color);
    background-color: var(--hero-social-bg-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}
.hero-section {
    height: calc(100vh - 84px);
    background-color: var(--primary-bg-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}
.hero-section .hero-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    bottom: 50%;
    left: 0;
    background-color: var(--hero-social-bg-color);
    transition: background-color var(--transition-speed);
    height: fit-content;
    border-radius: 0 10px 10px 0;
}
.hero-social > .social-item {
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
.hero-section > .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1000px;
    width: 92%;
    text-align: center;
    padding: 0.8em;
}
.hero-section > .hero-content > .hero-heading > h1 {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 0.4em;
    color: var(--primary-text-color);
    line-height: 80px;
    transition: color var(--transition-speed);
}
.hero-section .hero-content .developer-text::before {
    content: '<';
}
.hero-section .hero-content .developer-text::after {
    content: '/>';
}
.hero-section > .hero-content > .hero-subheading {
    width: 86%;
    margin: 0 auto;
}
.hero-section > .hero-content > .hero-subheading > h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 40px;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
.hero-section > .hero-content > .hero-btn {
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #673AB7;
    transition: background-color var(--transition-speed);
    border: none;
    padding: 0.7em 3em;
    border-radius: 50px;
    margin-top: 1.5em;
    display: inline-block;
    text-decoration: none;
    transition: all ease-in 0.2s;
    border: 2px solid #673AB7;
    box-shadow: 0px 2px 10px rgb(124 0 186 / 40%);
}
.hero-section > .hero-content > .hero-btn:hover {
    background-color: transparent;
    color: #673AB7;
}
section.about-section {
    background-color: var(--primary);
    color: var(--white);
    padding: 8em 0 16em;
}
.section-heading {
    font-weight: 700;
    margin-bottom: 1.2em;
    font-size: 2rem;
}
.about-section .about-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.8em;
}
.about-section .about-content h3 {
    font-weight: 600;
    margin-bottom: 0.6em;
}
.about-section .about-content h6 {
    font-weight: 500;
    font-size: 1.02rem;
    line-height: 30px;
}
.skill-section {
    position: relative;
    padding-bottom: 10em;
}
.skill-section > .container {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    box-shadow: 1px 1px 6px 1px var(--shadow-color);
    -webkit-box-shadow: 1px 1px 6px 1px var(--shadow-color);
    -moz-box-shadow: 1px 1px 6px 1px var(--shadow-color);
    margin-top: -7em;
    transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
}
.skill-section .column {
    text-align: center;
    padding: 4em 12px;
}
.skill-section .mid-col {
    border-left: 1.5px solid var(--border-color);
    border-right: 1.5px solid var(--border-color);
    transition: border-color var(--transition-speed);
}
.skill-section .column .icon {
    font-size: 2.2rem;
    background-color: #5BE9B9;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    line-height: 70px;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
.skill-section .column .skill-heading {
    font-weight: 700;
    font-size: 1.35rem;
    margin: 1.2em 0;
}
.skill-section .column p {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2em;
}
.skill-section .column p.list-title {
    margin-bottom: 0.7em;
    font-weight: 600;
}
.skill-section .column ul.list-group {
    width: 95%;
    margin: 0 auto;
}
.skill-section .column .list-group-item {
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-text-color);
    padding: 4px;
    background-color: transparent;
    transition: color var(--transition-speed);
}
.project-section .section-heading-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7em;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
.project-section .section-heading-container p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}
.project-section .project-item {
    margin-bottom: 8em;
}
.project-section .project-image {
    width: 85%;
    margin: 0 auto;
}
.project-section .project-content .project-title {
    font-weight: 700;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
}
.project-section .project-content .project-desc {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--primary-text-color);
    transition: color var(--transition-speed);
    margin: 1em 0 1.5em;
}
.project-section .project-content .project-visit-btn {
    border: 2px solid #673AB7;
    color: #673AB7;
    background-color: transparent;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.6em 1.5em;
    transition: all ease-in 0.2s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.project-section .project-content .project-visit-btn:hover {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 2px 10px rgb(124 0 186 / 40%);
}
.footer-section {
    background-color: var(--primary);
    padding: 7em 0 2em;
    color: var(--white);
    text-align: center;
    position: relative;
    transition: background-color var(--transition-speed);
}
/* .footer-section .wave-shape-container {
    width: 100%;
    position: relative;
    top: -10px;
    left: 0;
} */
.footer-section .footer-content {
    max-width: 380px;
    margin: 0 auto 2em;
}
.footer-section .footer-content h5 {
    line-height: 35px;
    font-weight: 400;
}
.footer-section .footer-content .logo {
    max-width: 70px;
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto 2em;
}
.footer-section .footer-social {
    margin: 3em 0;
}
.footer-section .footer-social .social-item {
    color: var(--white);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 10px 14px;
}
.copyright span {
    font-weight: 600;
}

@media (max-width: 1065px) {
    .hero-section > .hero-content > .hero-heading > h1 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 60px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 85%;
    }
    .hero-section .hero-social {
        display: none;
    }
}
@media (max-width: 767px) {
    .project-section .project-image {
        width: 90%;
    }

    .navbar .navbar-brand {
        width: 100%;
    }
    .navbar .navbar-brand .hamburger {
        display: block !important;
    }
    .navbar .navbar-menu {
        position: absolute;
        top: 75px;
        background: var(--primary-bg-color);
        width: 100%;
        left: 0;
        z-index: 1;
        text-align: center;
        box-shadow: 0 5px 5px 0 var(--shadow-color);
        -webkit-box-shadow: 0 5px 5px 0 var(--shadow-color);
        -moz-box-shadow: 0 5px 5px 0 var(--shadow-color);
        opacity: 0;
        visibility: hidden;
        transition: background-color var(--transition-speed), 
        color var(--transition-speed), 
        box-shadow var(--transition-speed);
    }
    .navbar-menu .navbar-end .navbar-nav {
        width: 100%;
        display: block !important;
    }
    .navbar-menu .navbar-end .navbar-nav .nav-item{
        border-bottom: 1px solid var(--border-color);
        transition: border-color var(--transition-speed);
    }
    button.toggle-theme {
        width: 100%;
        border-radius: 0;
        padding: 30px 0;
    }
    .navbar-menu-active {
        opacity: 1 !important;
        visibility: visible !important;
    }

    /* Toggle */
    .hamburger .toggle {
        height: 100%;
        width: 26px;
        background: transparent;
        cursor: pointer;
        position: relative;
    }
    .hamburger .toggle span {
        display: block;
        position: absolute;
        height: 2.5px;
        width: 100%;
        background: var(--primary-text-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        transition: .3s;
    }
    .hamburger .toggle span:nth-child(1) {
        transform: translate(-50%, -50%) translateY(-8px);
        transition: .2s;
    }
    .hamburger .toggle span:nth-child(4) {
        transform: translate(-50%, -50%) translateY(8px);
        transition: .2s;
    }
    .hamburger .toggle-active span:nth-child(1) {
        transform: translate(-50%, -50%) translateY(-10px);
        opacity: 0;
    }
    .hamburger .toggle-active span:nth-child(4) {
        transform: translate(-50%, -50%) translateY(10px);
        opacity: 0;
    }
    .hamburger .toggle-active span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .hamburger .toggle-active span:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    button.toggle-theme:hover {
        background-color: transparent;
    }
}
@media (max-width: 700px) {
    .hero-section > .hero-content > .hero-heading > h1 {
        font-size: 2rem;
        font-weight: 800;
        line-height: 50px;
    }
    .skill-section .column {
        padding: 4em 18px;
    }
    .project-section .project-content .project-desc {
        font-size: 1rem;
    }
    .project-section .project-content .project-visit-btn {
        font-size: 1rem;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 90%;
    }
    .skill-section {
        padding-bottom: 7em;
    }
    /* .skill-section > .container {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    } */
    .project-section .project-image {
        width: 80%;
        margin-bottom: 3em;
    }
    .project-section .project-content {
        text-align: center;
    }
}
@media (max-width: 496px) {
    .hero-section > .hero-content > .hero-heading > h1 {
        font-size: 2rem;
        font-weight: 800;
        line-height: 55px;
    }
    .hero-section > .hero-content > .hero-subheading > h5 {
        font-size: 1.1rem;
        line-height: 35px;
    }
    .hero-section > .hero-content > .hero-btn {
        font-size: 1rem;
        font-weight: 600;
    }
    .footer-section .footer-social .social-item {
        font-size: 1.4rem;
        padding: 10px;
    }
}
@media (max-width: 403px) {
    .hero-section > .hero-content > .hero-heading > h1 {
        font-size: 1.8rem;
        line-height: 50px;
    }
}


